#events {
  h2 {
    display: inline-block;
    color: white;
    background: red;
    padding: 0.25em 0.75em;
    margin-bottom: 1.5em;
  }

  h2:nth-of-type(2) {
    margin-top: 1.5em;
    background: rgb(3, 70, 196);
  }

  .longFundraiser {
    h4 {
      border-bottom: 1px solid black;
      padding-bottom: 0.5em;
      margin-bottom: 1em;
    }

    h5 {
      font-weight: bold;
      margin-bottom: 1em;
    }

    .fund-link {
      font-weight: 600;

      &:hover {
        font-weight: 700;
        text-decoration: none;
      }
    }

    .paypal {
      width: 20px;
      margin-bottom: 1em;
    }
  }

  .event {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;

    .date {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      width: 100px;
      padding: 0.5em;
      line-height: 2.25rem;
      margin-right: 0.5em;

      span {
        font-weight: normal;
        font-size: 2.5rem;
      }
    }

    .date.red {
      border: 2px solid red;
    }

    .date.blue {
      border: 2px solid rgb(3, 70, 196);
    }

    .text {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      font-weight: bold;

      .eventTitle {
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-top: -5px;
      }

      .event-link {
        font-weight: bold;
        font-size: 1rem;
      }

      a {
        margin-top: -5px;
        font-weight: normal;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      a.red {
        color: red;
      }

      a.blue {
        color: rgb(3, 70, 196);
      }

      .event-divider {
        height: 1px;
        background: #121416;
        width: 100%;
        margin: 0.3em 0 0.5em 0;
      }
    }
  }
}
