html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Lato";
}

p {
  font-size: 1.15rem;
}

.link {
  font-weight: 600;
}

hr {
  border: none;
  height: 2px;
  background: $dark-gray;
  width: 40%;
}