footer {
  background: #111;
  padding: 2em 0;

  .chamber {
    a {
      font-size: .85rem;
      color: #6C757D;
      text-decoration: none;
    }

    p {
      margin-bottom: 0;
    }

    img {
      width: 100px;
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      font-size: 30px;
      margin-left: .15em;

      &.facebook {
        color: #3b5998;
        transition: .2s;

        &:hover {
          color: lighten(#3b5998, 20%);
        }
      }

      &.instagram {
        color: #7C00BC;
        transition: .2s;

        &:hover {
          color: lighten(#7C00BC, 20%);
        }
      }

      &.youtube {
        color: #FF0000;
        transition: .2s;

        &:hover {
          color: lighten(#FF0000, 20%);
        }
      }
    }
  }
}