footer {
  background: #111;
  padding: 2em 0;

  .social {
    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      font-size: 30px;
      margin-left: .15em;

      &.facebook {
        color: #3b5998;
        transition: .2s;

        &:hover {
          color: lighten(#3b5998, 20%);
        }
      }

      &.instagram {
        color: #7C00BC;
        transition: .2s;

        &:hover {
          color: lighten(#7C00BC, 20%);
        }

      }
    }
  }
}