#silverSeal {
  margin-bottom: 4em;
  text-align: center;
  padding: 3em 0;
  background: rgb(152, 152, 152);
  border-bottom: 2px solid rgb(91, 91, 91);

  .silverImage {
    margin-bottom: 1em;
  }

  .silverLink {
    color: rgb(90, 90, 90);
  }

  p {
    font-size: 1.75rem;
    margin-bottom: 0;
    color: rgb(221, 221, 221);
    font-weight: bold;
  }
}