#tax {
  margin-bottom: 4em;
  text-align: center;
  padding: 4em 0;
  background: tan;
  border-bottom: 2px solid rgb(121, 103, 79);

  p {
    font-size: 1.75rem;
    margin-bottom: 0;
    color: rgb(121, 103, 79);
    font-weight: bold;
  }
}
