$white: #f7f7f7;
$dark: #202329;
$logo-blue: #486488;
$orange: #F7AA1C;
$light-gray: #dbdbdb;
$gray: #727272;
$dark-gray: #303030;
$extreme-dark-gray: #191919;
$dark-opacity: rgba($dark, .95);
$dark-blue: #152235;