#purchase {
  .intro {
    margin-bottom: 3em;
  }

  .purchaseLink {
    color: black;
    font-weight: bold;
    margin: 0 .20em;
  }

  .info {
    margin-bottom: 2em;

    p {
      margin-bottom: .25em;
    }
  }

  .purchase-group {
    margin-bottom: 3em;

    h2 {
      display: inline-block;
      background: rgb(3, 70, 196);
      color: white;
      padding: .5em 1em;
    }
  }

}