#purchase {
  .intro {
    margin-bottom: 3em;
  }

  .gold {
    margin-bottom: 4em;

    h2 {
      display: inline-block;
      background: #d3aa41;
      color: #fff;
      padding: 0.5em 1em;
    }

    .goldBody {
      display: flex;
      justify-content: center;
      align-items: center;

      .goldText {
        margin-left: 1em;
      }
    }
  }

  .amazon {
    margin-bottom: 4em;

    h2 {
      display: inline-block;
      background: red;
      color: white;
      padding: 0.5em 1em;
    }
  }

  .purchaseLink {
    color: black;
    font-weight: bold;
    margin: 0 0.2em;
  }

  .info {
    margin-bottom: 1em;
  }

  .purchase-group {
    margin-bottom: 4em;

    h2 {
      display: inline-block;
      background: rgb(3, 70, 196);
      color: white;
      padding: 0.5em 1em;
    }

    .bonfire {
      background: #f59573;
    }

    .pricing {
      margin-top: 1em;

      p {
        margin-bottom: 0.5em;
      }

      .paypal {
        width: 20px;
        margin-bottom: 1em;
      }
    }
  }
}
